
CREATE OR REPLACE PROCEDURE <%= @schema %>.migration_version(_version text) SECURITY DEFINER AS $function$
BEGIN
    IF NOT (SELECT <%= @schema %>.tx_has_assigned_version()) THEN
      INSERT INTO <%= @version_table %> (version) VALUES (_version);
    END IF;
END;
$function$ LANGUAGE PLPGSQL;
